h1 {
    color: rgb(193, 247, 197);
    text-align: left;
    font-family: Verdana;
    text-decoration: underline;
}

h2 {
    color: rgb(119, 168, 100);
    text-align: center;
    font-family: Verdana;
    text-decoration: underline;
}

.error{
    color: red;
}
.nav{
    padding-right: 40px;
    display: inline-block;
    color: blue;
}

table th td {
    table-layout: auto;
    color: rgb(247, 234, 193);
    text-align: left;
    font-family: Verdana;
    text-decoration: underline;
    border: 1px solid black;
}