<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <!--<link rel="stylesheet" href="C:\Users\cswisher\LC101\blogz\stylesheet.css" type="text/css" >-->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <!--<style type="text/css">
            @import url("stylesheet.css");
        </style>-->
    </head>
    <body>
        <div>
            <a href='/login'>Login</a>
            <a href='/signup'>Sign Up</a>
            <a href='/'>Main Blog Page</a>
            <a href='/singleUser'>My Blogs</a>
            <a href='/newpost'>New Post</a>
            <a href='/logout'>Log Out</a>
            <a>Signed in as: {{ session['user'] }}</a>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="error">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

{% block content %}
{% endblock %}
    
    </body>
</html>