{% extends "base.html" %} {% block content %}
<h2>Login to Colman's Blog!</h2>

<form action="/login" method="post" />
<table>
    <tr>
        <td>
            <label class="inputbox">Email:
        </td>
        <td>
            <input type="text" name="email" value="{{ email }}" />
        </td>
        <td>
            <a class="error"> {{ emailerror }}</a>
        </td>
        </label>
    </tr>
    <tr>
        <td>
            <label class="inputbox">Password:
        </td>
        <td>
            <input type="password" name="password" />
        </td>
        <td>
            <a class="error"> {{ passworderror }}</a>
        </td>
        </label>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Login" />
        </td>
    </tr>
</form>

{% endblock %}