{% extends "base.html" %} {% block content %}
<h2>Login to Colman's Blog!</h2>

<form action="/login" method="post" />
<table>
    <tr>
        <label class="inputbox">
            <td>
                Email:
            </td>
            <td>
                <input type="text" name="email" value="{{ email }}" />
            </td>
        </label>
    </tr>
    <tr>
        <label class="inputbox">
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="password" />
            </td>
        </label>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input type="submit" value="Login" />
        </td>
    </tr>
</table>
</form>

{% endblock %}