{% extends "base.html" %} {% block content %}
<h2>Login to Colman's Blog!</h2>

<form action="/login" method="post" />
<p>
    <label class="inputbox">
        email:
        <input style="margin-left: 42px" type="text" name="email" value="{{ email }}" />
        <a class="error"> {{ emailerror }}</a>
    </label>
    <p></p>
    <label class="inputbox">
        Password:
        <input style="margin-left: 44px" type="password" name="password" />
        <a class="error"> {{ passworderror }}</a>
    </label>
    <p></p>
    <input type="submit" value="Login" />
</p>
</form>

{% endblock %}