{% extends "base.html" %}

{% block content %}
    <h1>New Post</h1>
    <form action='/newpost' method='post'>
        <p>
            <label>
                Title
                <p><input type="text" name='title' value="{{ new_title }}"/></p>
            </label>
        </p>
        <p>
            <label>
                Content
                <p><textarea cols="50" rows ="10" type="text" name='content'>{{ new_content }}</textarea></p>
            </label>
        </p>
        <p>
            <input type="submit" value="Submit Post" />
        </p>
    </form>
{% endblock %}