{% extends "base.html" %}

{% block content %}
<h2>Enter an username and password that you would like to use.</h2>

<form action='/signup' method="post" />
<p>
    <p></p><label class="inputbox">
        Email:
        <input type="text" name="email" value="{{ email }}" />
    </label>
    <p></p><label class="inputbox">
        Password:
        <input type="password" name="password" />
    </label>
    <p></p><label class="inputbox">
        Verify Password:
        <input type="password" name="verify" />
    </label>
    <p></p><input type="submit" value="Create User" />
</p>
</form>

{% endblock %}